<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="1234"/>
    <add key="ApplicationName" value="test"/>
    <add key="xmlPath" value=".\App_Data\"/>
    <add key="FilterPath" value=".\App_Data\Filter.xml"/>
    <add key="ObjectType" value="equipment"/>
    <add key="ModifiedProperty" value="becitemcount"/>
    <add key="ModifiedValue" value="becAEQDPressureVessel_V-344402"/>
  </appSettings>
</configuration>