<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="25566"/>
    <add key="ProjectXMLConfig" value="TEAMWorks-Test-3.5.xml" />
    <add key="DefaultKeyDelimiter" value="_" />
    <add key="DefaultPageLimit" value="25" />
    <add key="UserNameFormat" value="WithDomain"/>
    <add key="DomainName" value="IAMERS"/>
    <add key="BechtelUserName" value="VKNAYAK"/>
    <add key="ApplicationName" value="TW"/>
    <add key="ObjectType" value="Equipment"/>
    <add key="FilterPath" value=".\App_Data\Filter.xml"/>
    <add key="SpCharList" value="#,/,\,%,-"/>
    <add key="SpCharValue" value="{Hash},{BckSlsh},{FwdSlsh},{Pct},{Dash}"/>
    <add key="PATTERN_OBJ_NAME" value="[_*|\\*|/*|&amp;*|#*]"/>
    <add key="PATTERN_PROPERTY_NAME" value="^sz{1}|^ul{1}|^us{1}|^m_s{1}|^m_l{1}}^m_o{1}}^i{1}|^o{1}|^n{1}|^ml{1}|^mo{1}|^ms{1}|^d{1}|^s{1}|^b{1}"/>
  </appSettings>
</configuration>
