<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbconnection" value="eSG2pvUoFTzYazUWrUwbWCwl9Bb5NiTpSGBuyAmYhg3eNBKDbbN8LnzXnSKiWxkqQU7lfqI1p6H3Jw3M+vosx8WfqWAHsfe5iqMdHhxbgZ4="/>
    <!--<add key="dbconnection" value="Data Source=Ashs91046\multapp_hou1;Initial Catalog=ABC;User ID=VPSR_Write;Password=VPSR_WRITE"/>-->
    <add key="mdbfilename" value="sprdemo.mdb"/>
	  <add key="mdbprovider" value="Microsoft.Jet.OLEDB.4.0"/>
  </appSettings>
</configuration>
