<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbconnection" value="Data Source=.\local;Initial Catalog=ABC;User ID=abc;Password=123"/>
    <!--<add key="dbconnection" value="Data Source=Ashs91046\multapp_hou1;Initial Catalog=ABC;User ID=VPSR_Write;Password=VPSR_WRITE"/>-->
    <add key="mdbfilename" value="pbop_all.mdb"/>
	  <add key="mdbprovider" value="Microsoft.Jet.OLEDB.4.0"/>
  </appSettings>
</configuration>
