<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="dbconnection" value="LZu2yTmh9cC1ZlAfqPl2Geka73U5lc8uZHREg1KHW9vQXB3FS9JLZIFKd88M0ilGXhPgsK2W/VcgmT8VYZCvpy6VD5OJ1XfpFlAUiJ7w9lQ="/>
    <!--<add key="dbconnection" value="Data Source=Ashs91046\multapp_hou1;Initial Catalog=ABC;User ID=VPSR_Write;Password=VPSR_WRITE"/>-->
    <!--<add key="dbconnection" value="Data Source=Ashs91077\iring;Initial Catalog=SPR;User ID=SPR;Password=SPR"/>-->
    <add key="mdbfilename" value="SPRTest.mdb2"/>
	  <add key="mdbprovider" value="Microsoft.Jet.OLEDB.4.0"/>
  </appSettings>
</configuration>
