<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="12345_000" />
    <add key="ApplicationName" value="SQL" />
    <add key="xmlPath" value=".\App_Data\" />
    <add key="FilterPath" value=".\App_Data\Filter.xml" />
    <add key="ObjectType" value="Spools"/>
  </appSettings>
</configuration>